<!--<p>
  <button (click)="onClickGet()">GET</button>
</p>-->

<p>Vul je naam hieronder in om een speler aan te maken.</p>
<p class="text-left">
    <input type="text" [(ngModel)]="spelerNaam" placeholder="Naam">
    <button class="btn btn-primary" (click)="onClickSend()">Maak speler</button>
    <br>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Naam van speler</th>
            <th scope="col">Aantal keer gewonnen</th>
            <th scope="col">Aantal keer verloren</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let speler of spelers">
            <th scope="row">1</th>
            <td>{{speler.spelerNaam}}</td>
            <td>{{speler.spelerWins}}</td>
            <td>{{speler.spelerLosses}}</td>
        </tr>
    </tbody>
</table>